<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}" type="text/css" />
    {% endblock %}
    <title>Articles du jour</title>
</head>
<body>
<header>

    <nav>
        <ul>
            <li>
                <a href="{{ path('home') }}">Accueil</a>
            </li>
            <li id="center">
                <a href="{{ path('articles') }}">Articles</a>
            </li>
            <li>
                <a href="{{ path('stars') }}">Stars</a>
            </li>
        </ul>
    </nav>


</header>
<main>