{% for article in articles %}
    {% if article['published'] == 'yes' %}
        <h1 style="color:{{ article['color'] }};"> {{ article['title'] }} </h1>
        <p> {{ article['content'] }}</p>
    {% endif %}
{%  endfor %}